*.local
.DS_Store
/.bundle/*
!/.bundle/config.development
!/.bundle/config.production
.directory
/.git/
Thumbs.db
[Dd]esktop.ini
/config/credentials/*.key
/config/master.key
/log/*
/storage/*
/tmp/*
~$*
